<% unless notice.blank? %>
  <div class="notification is-info" id="notice"><%= notice %></div>
<% end %>

<h1 class="title">Students</h1>

<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Current Lesson</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.lesson_part ? student.lesson_part.display_number : 'No current lesson' %></td>
        <td>
          <div class="buttons has-addons">
            <%= link_to 'Edit', edit_student_path(student), class: 'button' %>
            <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path, class: 'button is-link' %>
